## Условие 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [16]:
def sum_fruits(**fruits):
  return print(f'общее количество фруктов: {sum(fruits.values())}')

In [17]:
sum_fruits(apples=5, peaches=7)

общее количество фруктов: 12

## Условие 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
Используйте list comprehensions

In [19]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]

In [21]:
right_expenses = [i for i in expenses if i >= 0]
print(f'Исправленный список: {right_expenses}')
print(f'Суммарные затраты: {sum(right_expenses)}')

Исправленный список: [100, 125, 345, 655, 0, 200]
Суммарные затраты: 1425

## Условие 4.
Даны 2 списка
### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [22]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [23]:
sums = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [29]:
months = [i.split('-')[1] for i in dates]
print(months)

['09', '12', '09', '12', '10', '09', '12', '11', '12', '11', '10', '12', '11', '11', '09', '10', '12', '09', '12', '11', '11', '12', '12', '10', '10', '09', '11', '12', '10', '12']

In [32]:
nov_revenue = [(f'Месяц {months[i]}', f'Сумма {sums[j]}')
                for i in range(len(months))
                for j in range(len(sums))
                if i == j and months[i] == '11'
                ]

In [33]:
nov_revenue

[('Месяц 11', 'Сумма 4944'),
 ('Месяц 11', 'Сумма 3701'),
 ('Месяц 11', 'Сумма 7037'),
 ('Месяц 11', 'Сумма 4274'),
 ('Месяц 11', 'Сумма 2004'),
 ('Месяц 11', 'Сумма 2822'),
 ('Месяц 11', 'Сумма 316')]

In [39]:
print(nov_revenue[0][0], f'выручка составила: {sum([amount for date, amount in zip(dates, sums) if date[5:7] == "11"])}')

Месяц 11 выручка составила: 25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [42]:
def revenue_by_month(date: list, sum: list) -> dict:
  dict_month = {}
  for i in range(len(dates)):
    if date[i].split('-')[1] in dict_month.keys():
      dict_month[date[i].split('-')[1]] += sum[i]
    else:
      dict_month[date[i].split('-')[1]] = sum[i]
  return dict_month

In [43]:
revenue_by_month(dates, sums)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}